@model IEnumerable<CoreAPI.Models.Job>

@{
    ViewData["Title"] = "Jobs";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobProperty1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobProperty1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { iban = item.JobId }) |
                @Html.ActionLink("Details", "Details", new { iban = item.JobId }) |
                @Html.ActionLink("Delete", "Delete", new { iban = item.JobId })
            </td>
        </tr>
}
    </tbody>
</table>
